html,
body,
#root
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/* Scroll Bar */
/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #000000f0;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #ffffff;
}


/* Interface */

.interface
{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Contacts */

.contacts-bar
{
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 25%;
    height: 40px;
    transform: translateX(-50%); 
    color: #ffffff;
    background: #000000f0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    user-select: none;
}

.contact
{
    display: flex;
    align-items: center;
    padding: 10px;
}

.contact .icon
{
    font-size: 20px;
    padding-left: 5px;
}

.contact .text
{
    position: relative;
    color: #ffffff;
    text-decoration: none; 
    transition-duration: 0.25s;
    transition-timing-function: ease-in-out;
    font-family: "sans-serif, serif, Times New Roman";
    
}

.contact .text:after
{
    content: '';
    position: absolute;
    width: 0; height: 3px;
    display: block;
    right: 0;
    background: #ffffff;
    transition: width .2s ease;
    -webkit-transition: width .2s ease;
}

.contact .text:hover
{
    font-size: 17px;
}

.contact .text:hover:after
{
    width: 100%;
    left: 0;
    background: #ffffff;
}

/* Header */

.header
{
    position: fixed;
    left: 0;
    top: 2%;
    display: flex;
    justify-content: center;
    /* padding-top: 2%; */
    width: 100%;
    height: 10%;
    color: #ffffff; 
    z-index: -1;
    opacity: 0;
    user-select: none;

}

.header .title-section
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000f0;
    width: 16%;
    border-radius: 10px;
}

.header .title-section .title
{
    font-size: 36px;
    font-family: "sans-serif, serif, Times New Roman";
    user-select: none;
}

.header .exit-button
{
    position: absolute;
    right: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000f0;
    width: 16%;
    height: 100%;
    border-radius: 10px;
    color: #ffffff;
    font-size: 36px;
    border: none;
    cursor: pointer;
    user-select: none;
    font-family: "sans-serif, serif, Times New Roman";
}


/* About */

.about
{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 13%;
    right: 0;
    width: 50%;
    height: 75%;
    background-color: #000000f0;
    opacity: 0;
    z-index: -1;
    overflow-y: scroll;
    direction: ltr;
}

.about .about-section
{
    color: #ffffff;
    user-select: none;
    pointer-events: none;
    padding-top: 35px;
    padding-left: 35px;
    padding-right: 35px;
    font-family: "sans-serif, serif, Times New Roman";
}

/* Skills */

.skills
{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 13%;
    right: 0;
    width: 50%;
    height: 75%;
    background-color: #000000f0;
    opacity: 0;
    z-index: -1;
    overflow-y: scroll;
    direction: ltr;
}

.skills .skills-section
{
    color: #ffffff;
    user-select: none;
    pointer-events: none;
    padding-top: 35px;
    padding-left: 35px;
    padding-right: 35px;
    font-family: "sans-serif, serif, Times New Roman";
}

/* Projects */

.projects
{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 13%;
    left: 0;
    width: 100%;
    height: 75%;
    background-color: #000000f0;
    opacity: 0;
    z-index: -1;
    overflow-y: scroll;
    direction: ltr;
}

.projects .projects-section
{
    color: #ffffff;
    user-select: none;
    pointer-events: none;
    padding-top: 35px;
    padding-left: 35px;
    padding-right: 35px;
    font-family: "sans-serif, serif, Times New Roman";
}

/* Experience */

.experience
{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 13%;
    left: 0;
    width: 50%;
    height: 75%;
    background-color: #000000f0;
    opacity: 0;
    z-index: -1;
    overflow-y: scroll;
    direction: rtl;
}

.experience .experience-section
{
    color: #ffffff;
    user-select: none;
    pointer-events: none;
    padding-top: 35px;
    padding-left: 35px;
    padding-right: 35px;
    font-family: "sans-serif, serif, Times New Roman";
}

/* Resume */

.resume
{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 13%;
    left: 0;
    width: 50%;
    height: 75%;
    background-color: #000000f0;
    opacity: 0;
    z-index: -1;
    overflow-y: scroll;
    direction: rtl;
}

.resume .resume-section
{
    color: #ffffff;
    user-select: none;
    pointer-events: none;
    padding-top: 35px;
    padding-left: 35px;
    padding-right: 35px;
    font-family: "sans-serif, serif, Times New Roman";
}